:host {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .8);
}

.container {
	position: relative;
	width: 900px;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid 1px var(--bg9);
	background-color: var(--bg8);
}

.exit-btn {
	position: absolute;
	top: 1px;
	right: 1px;
	color: var(--bg7);
	transform: scale(1.1);
	cursor: pointer;
}

.container-head {
	border-radius: 0px 0px 10px 10px;
}

.searcher {
	border-bottom: solid 3px var(--secondary-text);
}

.searcher:focus {
	outline: none;
}

.search-btn:hover {
	background-color: var(--bg5);
}

.img {
	width: 64px;
	min-width: 64px;
	height: 64px;
}

/* 
.searched-item {
	width: 100%;
	display: flex;
	border-bottom: solid 1px var(--bg7);
	padding: 5px;
	margin: 10px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding-top: 20px;
	align-items: flex-end;
}

.searched-item .info {
	flex-grow: 1;
	margin: 1px 15px;
	height: 100%;
}

.searched-item .info .name {
	font-weight: bold;
}

.searched-item .info .describe {
	color: var(--secondary-text);
}

.tool {
	color: var(--secondary-text);
}

.tool * {
	margin-top: 10px;
} */