<div class="container" [@fadeInOut] #container>
	<button class="exit-btn" (click)='destroy()'>x</button>
	<div class="container-head">
		<input class="searcher" (keyup)='handleEnterToSearch($event)' [(ngModel)]="searchKey"
			placeholder="{{'SearchFriendLanguage.TYPE_HERE' | translate}}">
		<button class="search-btn btn" (click)='search()'
			*ngIf='searchKey'>{{ 'SearchFriendLanguage.SEARCH' | translate}}</button>
	</div>

	<div #loaderLocation></div>

	<div class="searched-list" *ngIf='lookedAccounts'>
		<div class="searched-item" *ngFor='let lookedAccount of lookedAccounts'
			(click)='redirectToAccount(lookedAccount.id)'>
			<div class="img" [ngStyle]="{'background-image':'url('+lookedAccount.avatarUrl+')'}"></div>
			<div class="info">
				<p class="name">{{ lookedAccount.name }}</p>
				<p class="describe">{{ lookedAccount.describe }}</p>
			</div>
			<div class="tool">
				<div *ngIf="lookedAccount.relationship === accountRelationShipType.FRIEND">
					{{ 'SearchFriendLanguage.FRIEND' | translate}}
				</div>
				<div *ngIf="lookedAccount.relationship === accountRelationShipType.FRIEND_REQUEST">
					<button class="btn btn-border" (click)='unsendFriendRequest(lookedAccount.id)'
						(click)='hideClickedELement($event)'>{{ 'SearchFriendLanguage.UNFRIEND_REQUEST' | translate}}</button>
				</div>
				<div *ngIf="lookedAccount.relationship === accountRelationShipType.FROM_FRIEND_REQUEST">
					<button class="btn btn-border" (click)='acceptFriendRequest(lookedAccount.id)'
						(click)='hideClickedELement($event)'>{{ 'SearchFriendLanguage.CONFIRM' | translate}}</button>
					<button class="btn btn-border" (click)='cancelFriendRequest(lookedAccount.id)'
						(click)='hideClickedELement($event)'>{{ 'SearchFriendLanguage.CANCEL' | translate}}</button>
				</div>
				<div *ngIf="lookedAccount.relationship === accountRelationShipType.STRANGER">
					<button class="btn btn-border" (click)='sendFriendRequest(lookedAccount.id)'
						(click)='hideClickedELement($event)'>{{ 'SearchFriendLanguage.MAKE_FRIEND' | translate}}</button>
				</div>
			</div>
		</div>

	</div>