<div class="global-chats">
	<div class="head">
		<label>{{ 'RoomGlobalChatLanguage.GLOBAL_CHAT' | translate}}</label>
		<div class="row">
			<i class="fas fa-search mr-1 btn rounded-circle"></i>
			<i class="fas fa-ellipsis-h btn rounded-circle mr-0"></i>
		</div>
	</div>
	<div class="global-chats-body">

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

		<div class="global-chats-items">
			<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
			<div class="global-chats-items-body">
				<a class="name">Giang Văn</a>
				<pre class="content wrap">sadfksadlfjs;alkdjfsadfsd
					sadfsdfhjskdhff</pre>
			</div>
		</div>

	</div>
	<div class="messages-box mt-5">
		<div class="avatar img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)"></div>
		<input contenteditable class="messages-box-content" placeholder="Viết gì đó..."
			onkeyup="updateMessagesBoxLength()" onkeydown="send(event)">
		<p class="messages-box-length ml-2">0/100</p>
		<i class="far fa-smile pl-2"></i>
	</div>
</div>