.img {
	min-width: 30px;
	width: 30px;
	height: 30px;
	border-radius: 999px;
}

.friend-chat-head {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 100%;
	padding: 15px;
}

.account-name {
	font-size: 20px;
	font-weight: bold;
	color: var(--secondary-text);
	padding-left: 10px;
	overflow: hidden;
}

.friend-chat-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	height: 300px;
	overflow: auto;
	padding: 15px;
}

.message {
	max-width: max-content;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	color: var(--primary-text);
	background-color: var(--bg8);
}

.message.my-message {
	align-self: flex-end;
	background-color: var(--highlight3);
}

.friend-chat-footer {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: 15px;
}

textarea {
	width: 85%;
	height: 70px;
	resize: none;
	border-radius: 6px;
	border: none;
	background-color: transparent;
}

button {
	margin-left: 10px;
	background-color: transparent;
	border: none;
}