<div class="friend-chat-body d-flex flex-column overflow-auto p-4">

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
			salfjskdjflksjdfkljslkdjf
			asdasdasdasdsd
		</pre>
	</div>

	<div class="d-flex mb-2">
		<pre class="text-wrap p-2 rounded-lg bg7 highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					salfjskdjflksjdfkljslkdjf
					asdasdasdasdsd
				</pre>
	</div>

	<div class="d-flex mb-2 justify-content-end">
		<pre class="text-wrap p-2 rounded-lg highlight-bg highlight-text">
					asdasdasdasdsd
				</pre>
	</div>

</div>
<div class="chat-box d-flex align-items-start mx-4 py-4 border-top">
	<textarea class="chat-content rounded border p-2 flex-grow-1"
		placeholder="{{'FriendChatLanguage.TYPE_SOMETHING_HERE' | translate}}"></textarea>
	<div class="btn highlight-text ml-2">
		<i-feather name="send"></i-feather>
	</div>
</div>