<div class="friend-chat-head hr-bottom" *ngIf='chatFriend'>
	<div class="img" [ngStyle]="{'background-image':'url('+chatFriend.avatarUrl+')'}"></div>
	<p class="account-name nowrap">{{ chatFriend.name }}</p>
</div>
<div class="friend-chat-body">

	<pre class="message wrap">
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		tex
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
	</pre>
	<pre class="message wrap">
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		tex
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
	</pre>
	<pre class="message wrap">
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		tex
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
	</pre>
	<pre class="message wrap">
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		tex
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
	</pre>
	<pre class="message wrap">
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		tex
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
	</pre>
	<pre class="message wrap">
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		tex
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
	</pre>
	<pre class="message wrap">
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		tex
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message my-message wrap">
		text sd;lfjkdf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
		salfjskdjflksjdfkljslkdjf
		salfjskdjflksjdfkljslkdjf
	</pre>

	<pre class="message wrap">
		text sd;lfjkdf
	</pre>


</div>
<div class="friend-chat-footer hr-top">
	<textarea class="chat-box" id="" cols="30" rows="10"
		placeholder="{{'FriendChatLanguage.TYPE_SOMETHING_HERE' | translate}}"></textarea>
	<button>
		<i-feather name="send"></i-feather>
	</button>
</div>