<h1>newProfile</h1>
<table style="width:100%" *ngIf='newProfile'>
	<tr>
		<th>id</th>
		<td>{{ newProfile.id }}</td>
	</tr>
	<tr>
		<th>describe</th>
		<td>
			<input type="text" [(ngModel)]="newProfile.describe">
		</td>

	</tr>
	<tr>
		<th>avatar</th>
		<td>
			<input type="text" [(ngModel)]="newProfile.avatarUrl">
		</td>

	</tr>
	<tr>
		<th>name</th>
		<td>
			<input type="text" [(ngModel)]="newProfile.name">
		</td>
	</tr>
	<tr>
		<th>updated_at</th>
		<td>{{ newProfile.updatedAt }}</td>

	</tr>
	<tr>
		<th>created_at</th>
		<td>{{ newProfile.createdAt }}</td>

	</tr>
	<tr>
		<th>status</th>
		<td>{{ newProfile.status }}</td>
		
	</tr>
	<tr>
		<th>role</th>
		<td>{{ newProfile.role }}</td>
		
	</tr>
	<tr>
		<th>birthyear</th>
		<td>
			<input type="text" [(ngModel)]="newProfile.birthyear">
		</td>

	</tr>
	<tr>
		<th>birthmouth</th>
		<td>
			<input type="text" [(ngModel)]="newProfile.birthmonth">
		</td>

	</tr>
	<tr>
		<th>phone</th>
		<td>
			<input type="text" [(ngModel)]="newProfile.phone">
		</td>
		
	</tr>
	<tr>
		<th>email</th>
		<td>
			<input type="text" [(ngModel)]="newProfile.email">
		</td>

	</tr>
	
</table>

<h1>Setting</h1>
<table style="width:100%" *ngIf="newProfile && newProfile.setting">
	<tr>
		<th>anonymous</th>
		<td>{{ newProfile.setting.anonymous }}</td>
	</tr>
	<tr>
		<th>birthmounth</th>
		<td>{{ newProfile.setting.birthmonthPrivacy }}</td>
	</tr>
	<tr>
		<th>birthyear</th>
		<td>{{ newProfile.setting.birthyearPrivacy }}</td>
	</tr>
	<tr>
		<th>email</th>
		<td>{{ newProfile.setting.emailPrivacy }}</td>
	</tr>
	<tr>
		<th>phone</th>
		<td>{{ newProfile.setting.phonePrivacy }}</td>
	</tr>
</table>
<button class="btn btn-w" (click)="updateProfile()">submit</button>