<div class="d-flex w-100 h-100 bg8">
	<app-joined-rooms class="h-100 bg9" #joinedRooms></app-joined-rooms>
	<div class="px-4 pt-5 pb-4 d-flex flex-grow-1 overflow-auto position-relative">
		<app-room-private-chat class="position-absolute position-top-left w-100 h-100 bg8" style="z-index: 2;"></app-room-private-chat>
		<div class="d-flex flex-column flex-grow-1 overflow-auto">
			<app-room-global-chat class="flex-grow-1 overflow-auto"></app-room-global-chat>
			<!-- <app-room-private-chat></app-room-private-chat> -->
		</div>
		<div class="pl-4 ml-4 border-left d-flex flex-column">
			<app-game-rooms class="flex-grow-1 overflow-auto pb-2"></app-game-rooms>
			<!-- ??? -->
			<div class="pt-3 border-top mx-2 mb-4 mt-2">
				<div class="w-100 btn highlight-text highlight-bghighlight-text shadow-lg highlight-bg px-4 py-3"><span><i-feather name="zap"></i-feather></span><span class="m-0 pl-2">Tìm phòng nhanh</span></div>
			</div>
		</div>
	</div>
</div>