<div class="d-flex w-100 h-100">
	<app-joined-rooms [gameChannels]="gameChannels" class="h-100" #joinedRooms></app-joined-rooms>
	<div class="ml-4 my-5 d-flex flex-grow-1 overflow-auto">
		<div class="d-flex flex-column flex-grow-1 overflow-auto">
			<!-- title -->
			<strong class="flex-grow-1">
				<h5>{{ 'RoomGlobalChatLanguage.GLOBAL_CHAT' | translate}}</h5>
			</strong>
			<div class="m-3 d-flex flex-column">
				<!-- games list -->
				<select class="game-channel-list">
					<option value="volvo">Volvo</option>
					<option value="saab">Saab</option>
					<option value="mercedes">Mercedes</option>
					<option value="audi">Audi</option>
				</select>
				<!-- ??? -->
				<div class="my-4 btn">saldjfcvnl</div>
			</div>

			<app-room-global-chat class="flex-grow-1 overflow-auto"></app-room-global-chat>
			<!-- <app-room-private-chat></app-room-private-chat> -->
		</div>
		<div class="pl-4 ml-4 border-left">
			<app-game-rooms></app-game-rooms>
		</div>
	</div>
</div>