<div class="btn-resize" (click)='resizeContainer()'>
	<div *ngIf="containerState !== 'expand'; else elseBlock">
		<i-feather name="chevron-right"></i-feather>
	</div>
	<ng-template #elseBlock>
		<i-feather name="chevron-left"></i-feather>
	</ng-template>
</div>


<nav class="h-100 d-flex flex-column" [@changeContainerState]="containerState">
	<div class="d-flex align-items-center" *ngIf="containerState === 'expand'">
		<!-- title -->
		<strong>
			<h5>{{'JoinedRoomsLanguage.JOINED_ROOMS' | translate}}</h5>
		</strong>
	</div>

	<!-- list -->
	<div [@listAnimation]='joinedRooms.length' class="my-4 d-flex flex-column flex-grow-1 overflow-hidden overflow-y-auto">
		<!-- item -->
		<div class="room-items d-flex p-2 my-1 rounded-lg" (click)='showPrivateChat(room.id)'
			*ngFor="let room of joinedRooms">
			<!-- image -->
			<div class="img rounded-lg" [ngStyle]="{'background-image':'url('+room.logoUrl+')'}">
			</div>
			<!-- info -->
			<div *ngIf="containerState === 'expand'" class="pl-2 flex-grow-1 overflow-hidden">
				<div><strong class="highlight-text">{{room.name}}</strong></div>
				<p class="m-0">#{{room.code}}</p>
			</div>
		</div>
		<!-- empty -->


	</div>

	<!-- quick search button -->
	<div (click)='showSearchPopup()' [style.width]="containerState != 'expand' ? '85px' : 'unset'"
		[style.height]="containerState != 'expand' ? '38px' : 'unset'"
		[ngClass]="{'btn btn-border mb-2 d-flex justify-content-center align-items-center': true, 'm-2': containerState != 'expand'}"
		#searchFriendBtn>
		<i-feather style="transform: scale(0.9);" class="mr-2" name="search"></i-feather><strong
			*ngIf="containerState === 'expand'">{{ 'JoinedRoomsLanguage.QUICK_SEARCH_ROOMS' | translate}}</strong>
		<i-feather *ngIf="containerState != 'expand'" style="transform: scale(0.9);" name="search"></i-feather>
	</div>
	<!-- add room button -->
	<div (click)='showSearchPopup()' [style.width]="containerState != 'expand' ? '85px' : 'unset'"
		[style.height]="containerState != 'expand' ? '38px' : 'unset'"
		[ngClass]="{'btn btn-border d-flex justify-content-center align-items-center': true, 'm-2': containerState != 'expand'}"
		#searchFriendBtn>
		<i-feather style="transform: scale(0.9);" class="mr-2" name="plus-circle"></i-feather><strong
			*ngIf="containerState === 'expand'">{{ 'JoinedRoomsLanguage.ADD_ROOM' | translate}}</strong>
		<i-feather *ngIf="containerState != 'expand'" style="transform: scale(0.9);" name="plus-circle"></i-feather>
	</div>
</nav>