:host {
	position: relative;
	border-right: solid 1px var(--bg10);
}

.btn-resize {
	position: absolute;
	right: -27px;
	top: 4px;
	border: none;
	background-color: transparent;
	transform: scale(1.1);
	z-index: 9;
}

.room-items .img {
	width: 64px;
	min-width: 64px;
	height: 64px;
	transition: all .5s ease;
}

.room-items {
	cursor: pointer;
	transition: all .5s ease;
}

.room-items:hover .img {
	width: 84px;
	min-width: 84px;
}

.room-items:hover {
	background-color: var(--bg8);
}