.container {
	background-color: var(--bg5);
	border-radius: 5px;
	border: solid 1px var(--bg6);
	padding: 30px 2px;
}

ul li a {
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
	width: max-content;
	padding: 15px 20px;
}

ul li a:hover {
	background-color: var(--bg4);
	border-radius: 6px;
}

li {
	margin: 0 10px;
	list-style-type: none;
	border-bottom: solid 1px var(--bg6);
}

li:last-child {
	border-bottom: none;
}

i-feather {
	margin-right: 11px;
}