<div class="container" [@fadeInOut]>
	<ul (click)='destroy()'>
		<li>
			<a routerLink="/client/profile">
				<i-feather name="info"></i-feather>
				thong tin
			</a>
		</li>
		<li>

			<a (click)='showFeedback()'>
				<i-feather name="send"></i-feather>
				feedback
			</a>
		</li>
		<li>

			<a routerLink="/client/settings">
				<i-feather name="settings"></i-feather>
				setting
			</a>
		</li>
		<li>

			<a >
				<i-feather name="help-circle"></i-feather>
				help
			</a>
		</li>
		<li>

			<a >
				<i-feather name="moon" class="someclass"></i-feather>
				dark mode
			</a>
		</li>
		<li>

			<a (click)='logOut()'>
				<i-feather name="log-out" class="someclass"></i-feather>
				log out
			</a>
		</li>
	</ul>
</div>