<div class="container" [@fadeInOut]>
	<ul>
		<li>
			<a routerLink="/client/profile">
				<i-feather name="info"></i-feather>
				{{ 'ProfileDropdownLanguage.MY_PROFILE' | translate}}
			</a>
		</li>
		<li>

			<a (click)='showFeedback()'>
				<i-feather name="send"></i-feather>
				{{ 'ProfileDropdownLanguage.FEEDBACK' | translate}}
			</a>
		</li>
		<li>

			<a routerLink="/client/settings">
				<i-feather name="settings"></i-feather>
				{{ 'ProfileDropdownLanguage.SETTING' | translate}}
			</a>
		</li>
		<li>
			<input type="checkbox" value="None" id="slideThree" name="check" checked (click)='checked($event)'/>
		</li>
		<li>

			<a (click)='logOut()'>
				<i-feather name="log-out" class="someclass"></i-feather>
				{{ 'ProfileDropdownLanguage.LOGOUT' | translate}}
			</a>
		</li>
	</ul>
</div>