<div class="h-100 d-flex flex-column">
	<div class="d-flex align-items-center mr-3">
		<!-- title -->
		<strong class="flex-grow-1">
			<h5>{{ 'GameRoomsLanguage.ROOMS_LIST' | translate}}</h5>
		</strong>
		<!-- options button -->
		<div class="btn bg-transparent">
			<i-feather name="more-horizontal"></i-feather>
		</div>
	</div>

	<!-- list -->
	<div class="px-4 my-4 d-flex flex-column flex-grow-1 overflow-auto">
		<!-- item -->
		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>

		<div class="room-item mb-3 rounded-lg overflow-hidden"
			style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>#11 - Nào mình cùng lên xe buýt</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather class="mr-4" name="globe"></i-feather>
				<i-feather name="users"></i-feather>
				<span>2/3</span>
			</div>
		</div>


	</div>

	<!-- add room button -->
	<div class="btn btn-border mx-4">{{ 'GameRoomsLanguage.ADD_ROOM' | translate}}</div>
</div>