<div class="h-100 d-flex flex-column">
	<div class="d-flex align-items-center mr-3">
		<!-- title -->
		<strong class="flex-grow-1">
			<h5>{{ 'GameRoomsLanguage.ROOMS_LIST' | translate}}</h5>
		</strong>
		<!-- options button -->
		<div class="btn bg-transparent">
			<i-feather name="more-horizontal"></i-feather>
		</div>
	</div>

	<!-- list -->
	<div class="px-4 my-4 d-flex flex-column flex-grow-1 overflow-auto" >
		<!-- item -->
		<div class="room-item img mb-4 rounded-lg overflow-hidden" *ngFor='let room of gameRooms'
			[ngStyle]="{'background-image':'url('+room.backgroundUrl+')'}">
			<!-- name -->
			<div class="m-3 overflow-hidden highlight-text"><strong>{{room.name}}</strong></div>
			<!-- info -->
			<div class="m-3 d-flex align-items-center">
				<i-feather *ngIf='room.isPrivate' name="key"></i-feather>
				<i-feather *ngIf='!room.isPrivate' name="globe"></i-feather>
				<i-feather class="mr-1 ml-4" name="users"></i-feather>
				<p class="m-0">{{room.countMember}}/{{room.maxMember}}</p>
			</div>
		</div>

	</div>

	<!-- add room button -->
	<div class="btn btn-border mx-4">{{ 'GameRoomsLanguage.ADD_ROOM' | translate}}</div>
</div>