<!-- <div class="friends-items hover" *ngFor="let room of gameRooms" data-id="{{ room.id }}">
	<div class="img" [ngStyle]="{'background-image':'url('+room.logoUrl+')'}"></div>
	<p class="name">{{ room.name }}</p>
</div> -->

<!-- rooms -->
<div class="rooms">
	<div class="head">
		<label>{{ 'GameRoomsLanguage.ROOMS_LIST' | translate}}</label>
		<div class="row">
			<i class="fas fa-search mr-1 btn rounded-circle"></i>
			<i class="fas fa-ellipsis-h btn rounded-circle mr-0"></i>
		</div>
	</div>
	<div class="rooms-body">

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>


		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>

		<div class="rooms-items black-layer img" style="background-image: url(https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/05/24/028/tuoi-gi-noi-tu-voi-tui-1590284578-400.jpg)">
			<p class="rooms-items-name">Nào mình cùng lên xe buýt</p>
			<div class="rooms-items-detail-info">
				<i class="fas fa-globe-americas pr-2"></i>
				<div class="member-num">
					2/3
					<i class="fas fa-users"></i>
				</div>
				<p class="rooms-items-id">1</p>
			</div>
		</div>


	</div>

	<div class="rooms-footer">
		<div class="btn btn-lg btn-content">Tạo phòng</div>
	</div>
</div>