
.chat-container > div{
	z-index: 1;
}

.chat-container::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg10);
	opacity: .95;
}

.logo {
	width: 64px;
	min-width: 64px;
	height: 64px;
}

.avatar {
	width: 36px;
	min-width: 36px;
	height: 36px;
}

.message-options{
	opacity: 0;
	transition: all .5s ease;
}

.message:hover .message-options{
	opacity: 1;
}
/* messages */
/* 
.messages {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.messages.right {
	align-self: flex-end;
}

.messages-head {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 4px;
}

.messages.right .messages-head {
	justify-content: flex-end;
}

.messages-avatar {
	width: 24px;
	min-width: 24px;
	height: 24px;
	border-radius: var(--rounded-circle);
}

.messages-name {
	flex-shrink: 1;
	overflow: hidden;
	margin-left: 6px;
	margin-right: 6px;
	font-size: var(--text-size-sm);
	font-weight: bold;
	color: var(--secondary-text);
	white-space: nowrap;
}

.messages-options {
	display: flex;
	opacity: 0;
	transition: all .2s ease;
}

.messages:hover .messages-options {
	opacity: 1;
}

.messages-body {
	display: inline-block;
	max-width: calc(100% - 30px);
	padding: 5px 10px;
	margin-left: 16px;
	background-color: var(--bg9);
	border-radius: var(--rounded);
}

.messages.right .messages-body {
	margin-left: 0;
	margin-right: 16px;
	float: right;
	background-color: var(--bg6);
} */