<div class="main-btn-resize" (click)='resizeMainContainer()'>
	<div *ngIf="mainContainerIsExpanding; else elseBlock">
		<i-feather name="chevron-right"></i-feather>
	</div>
	<ng-template #elseBlock>
		<i-feather name="chevron-left"></i-feather>
	</ng-template>
</div>

<div class="main-container">
	<div class="friends-container" [@changeFriendsContainerState]="friendsContainerState">
		<div class="">
			<div *ngIf="friendsContainerState != 'expand'">
				<div class="btn-resize" (click)='expandFriendsContainer()'>
					<i-feather name="chevron-left"></i-feather>
				</div>
			</div>
			<!-- friends title -->
			<h4 *ngIf="friendsContainerState === 'expand'"><strong>{{ 'FriendsLanguage.FRIENDS' | translate}}</strong>
			</h4>
		</div>

		<!-- friends list -->
		<div class="my-4" *ngIf="friends">
			<!-- friend items -->
			<div class="d-flex align-items-center my-1" *ngFor="let friend of friends">
				<div [ngClass]="{'friends-items rounded-lg p-2 d-flex align-items-center flex-grow-1 overflow-hidden': true, 'active': this.selectedFriend === friend}" (click)="openChatBox(friend)">
					<!-- avatar -->
					<div *ngIf='friend.avatarUrl' class="img rounded-lg"
						[ngStyle]="{'background-image':'url('+friend.avatarUrl+')'}"></div>
					<div *ngIf='!friend.avatarUrl' class="img rounded-lg"
						[ngStyle]="{'background-image':'url('+defaultAvatarUrl+')'}"></div>
					<!-- name -->
					<strong class="pl-2 text-nowrap overflow-hidden flex-grow-1 highlight-text" *ngIf="friendsContainerState === 'expand'">{{ friend.name }}</strong>
				</div>
				<!-- ,,, -->
				<i-feather *ngIf="friendsContainerState === 'expand'" class="friends-options ml-1 rounded-lg" name="more-vertical"></i-feather>
			</div>

		</div>
		<!-- make friend button -->
		<div [style.width]="friendsContainerState != 'expand' ? '36px' : 'unset'"
			[style.height]="friendsContainerState != 'expand' ? '36px' : 'unset'"
			[ngClass]="{'btn d-flex justify-content-center': true, 'm-2': friendsContainerState != 'expand', 'btn-border': friendsContainerState === 'expand'}"
			#searchFriendBtn>
			<strong *ngIf="friendsContainerState === 'expand'">{{ 'FriendsLanguage.MAKE_FRIENDS' | translate}}</strong>
			<i-feather *ngIf="friendsContainerState != 'expand'" style="transform: scale(2);" name="user-plus">
			</i-feather>
		</div>
	</div>

	<app-friend-chat [@changeChatBoxState]="chatBoxState" class="hr-left"></app-friend-chat>
</div>