:host {
	position: relative;
}

.main-container {
	position: relative;
	height: 100%;
}

.friends-container {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	height: 100%;
	background-color: var(--bg8);
}

app-friend-chat {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-right: 52px;
	background-color: var(--bg9);
	border-left: 1px solid var(--bg10);
}

.friends-items, .friends-options {
	cursor: pointer;
	transition: all .5s ease;
}

.friends-options {
	width: 26px;
	min-width: 26px;
	height: 26px;
}

.friends-items.active {
	background-color: var(--highlight3) !important;
}

.friends-items:hover, .friends-options:hover {
	background-color: var(--bg7);
}

.friends-items .img {
	width: 36px;
	min-width: 36px;
	height: 36px;
}

.main-btn-resize {
	position: absolute;
	left: -27px;
	top: 4px;
	border: none;
	background-color: transparent;
	transform: scale(1.1);
	z-index: 9;
}

.btn-resize {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	background-color: transparent;
	transform: scale(1.1);
	border: none;
}