<div class="main-container" #mainContainer>
	<button (click)='resizeMaicontainer()'>hgjhgjhgj</button>
	<div class="container" #container>
		<div class="head">
			<button (click)='expandContainer()'>hgjhgjhgj</button>
			<label>Bạn bè</label>
			<div class="row">
				<i class="fas fa-search mr-1 btn rounded-circle"></i>
				<i class="fas fa-ellipsis-h btn rounded-circle mr-0"></i>
			</div>
		</div>

		<div class="body" *ngIf="friends">

			<div class="friends-items hover" *ngFor="let friend of friends" (click)="openChatBox(friend)">
				<div class="img" [ngStyle]="{'background-image':'url('+friend.avatarUrl+')'}"></div>
				<p class="name">{{ friend.name }}</p>
			</div>

		</div>

		<div class="footer">
			<div class="btn btn-lg btn-w">Kết bạn</div>
		</div>
	</div>


	<app-friend-chat></app-friend-chat>
</div>