:host {
	padding: 104px 80px 40px 80px;
}

.container-head {
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	border-radius: 0px 0px 10px 10px;
}

.searcher {
	border-bottom: solid 3px var(--secondary-text);
}

.searcher:focus {
	outline: none;
}

.search-btn:hover {
	background-color: var(--bg5);
}

.img {
	width: 64px;
	min-width: 64px;
	height: 64px;
}