<div class="search-container" [@containerSizeStyle]="rooms.length > 0 ? 'expand' : 'collapse'">
	<div class="container-head d-flex align-items-center bg7">
		<input class="searcher m-3 flex-grow-1" (keyup)='handleEnterToSearch($event)' [(ngModel)]="searchKey"
			placeholder="{{'SearchRoomsLanguage.TYPE_HERE' | translate}}" focusthis>
		<button class="btn btn-light mr-3 highlight-text" (click)='search()' *ngIf='searchKey'>
			<i-feather name="search"></i-feather>
			{{ 'SearchRoomsLanguage.SEARCH' | translate}}
		</button>
	</div>

	<!-- list -->
	<div class="w-100 h-100 position-relative d-flex flex-column overflow-auto">
		<!-- item -->
		<div #loaderLocation></div>
		<div class="border-bottom p-2 mb-4 d-flex align-items-end w-100" *ngFor='let room of rooms'>
			{{room.name}}
		</div>
	</div>
</div>